body{
    padding: 0;
    margin: 0;
    background: #fff;
    height: 100vh;  
}

.heading{
    display: flex;
    justify-content: center;
}

.back-button{
    position: absolute;
    top: 2.5%;
    left: 5%;
}

.heating-header{
    display: flex;
    justify-content: center;
}
.main-image{
    display: flex;
    justify-content: center;
}
#main-image{
background-image: url("../Images/factory.jpg");
height: 600px;
width: 1100px;
}
#the-image{
    opacity: 0.1;   
}
.btn-back{
    background: red;
    height: 30px;
    border-radius: 25px;
}
#back-button{
    color: black;
    border-radius: 25px;
}

.btn{
    background: #da0c0c;
    border-radius: 25px;
    color: black;
    height: 45px;
    width: 95px;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: transform;
}
.btn:hover{
    transform: scale(1.1);
}
.upper-buttons{
    display: flex;
    justify-content: space-around;
}
.bottom-buttons{
    display: flex;
    justify-content: space-around;
}
#heater1-button:active{
    background-position: 0 -120 -120 -120;
}